E4_ConvolutionalNeuronalNetwork/F1-Entrenamiento/C1- Jafeth
E4_ConvolutionalNeuronalNetwork/F1-Entrenamiento/C2- Cenyi
E4_ConvolutionalNeuronalNetwork/F1-Entrenamiento/C3- Luis
E4_ConvolutionalNeuronalNetwork/F1-Entrenamiento/C4- Melo
E4_ConvolutionalNeuronalNetwork/F2-Validacion/C1- Jafeth
E4_ConvolutionalNeuronalNetwork/F2-Validacion/C2- Cenyi
E4_ConvolutionalNeuronalNetwork/F2-Validacion/C3- Luis
E4_ConvolutionalNeuronalNetwork/F2-Validacion/C4- Melo
E4_ConvolutionalNeuronalNetwork/F3-Prueba/C1- Jafeth
E4_ConvolutionalNeuronalNetwork/F3-Prueba/C2- Cenyi
E4_ConvolutionalNeuronalNetwork/F3-Prueba/C3- Luis
E4_ConvolutionalNeuronalNetwork/F3-Prueba/C4- Melo
E6/vosk-model-small-es-0.42.zip
E6/vosk-model-small-es-0.42/graph/Gr.fst
E4_ConvolutionalNeuronalNetwork/modelo
E4_ConvolutionalNeuronalNetwork/modelo2/modeloEigenFace.xml
E4_ConvolutionalNeuronalNetwork/modelo2/modeloLBPHFace.xml
E4_ConvolutionalNeuronalNetwork/modelo3/modelo.keras
E4_ConvolutionalNeuronalNetwork/modelo3/pesos.weights.h5
